In [31]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from pprint import pprint
import pymongo
import pandas as pd
import requests

In [32]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\micha\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [33]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [34]:
html_news = browser.html
soup = BeautifulSoup(html_news, "html.parser")

# NASA Mars News

In [35]:
news_title = soup.find("div", class_ = "content_title").text
news_paragraph = soup.find("div", class_ = "article_teaser_body").text

In [36]:
print(news_title)
print("-----------------------------------------")
print(news_paragraph)

InSight's 'Mole' Team Peers into the Pit
-----------------------------------------
Efforts to save the heat probe continue.

# JPL Mars Space Images - Featured Image

In [52]:
url_spaceimage = "https://spaceimages-mars.com/"
browser.visit(url_spaceimage)

In [53]:
img_html = browser.html
img_soup = BeautifulSoup(img_html, "html.parser")

In [59]:
# Find image url to the full size
featured_image = img_soup.find("img", class_="headerimage fade-in")

# Display url of the full image
featured_image_url = f"https://spaceimages-mars.com/image/featured/mars3.jpg"
print("JPL Featured Space Image")
print("-----------------------------------------")
print(featured_image_url)

JPL Featured Space Image
-----------------------------------------
https://spaceimages-mars.com/image/featured/mars3.jpg

# Mars Facts

In [43]:
mars_facts_url = "https://galaxyfacts-mars.com/"
table = pd.read_html(mars_facts_url)
table[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [45]:
df = table[0]
df.columns = ["Facts", "Planet1", "Planet2"]
df.set_index(["Facts"])
df

                     Facts          Planet1          Planet2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [46]:
facts_html = df.to_html()
facts_html = facts_html.replace("\n","")
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Planet1</th>      <th>Planet2</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [47]:
url_hemisphere = "https://marshemispheres.com/"
browser.visit(url_hemisphere)

In [48]:
html_hemisphere = browser.html
soup = BeautifulSoup(html_hemisphere, "html.parser")

In [51]:
# Scrape all items that contain mars hemispheres information
hemispheres = soup.find_all("div", class_="item")

# Create empty list
hemispheres_info = []

# Sign main url for loop
hemispheres_url = "https://marshemispheres.com/"

# Loop through the list of all hemispheres information
for i in hemispheres:
    title = i.find("h3").text
    hemispheres_img = i.find("a", class_="itemLink product-item")["href"]
    
    # Visit the link that contains the full image website 
    browser.visit(hemispheres_url + hemispheres_img)
    
    # HTML Object
    image_html = browser.html
    web_info = BeautifulSoup(image_html, "html.parser")
    
    # Create full image url
    img_url = hemispheres_url + web_info.find("img", class_="wide-image")["src"]
    
    hemispheres_info.append({"title" : title, "img_url" : img_url})

# Display titles and images ulr
#hemispheres_info

# Or Display titles and images ulr this way
    print("")
    print(title)
    print(img_url)
    print("-----------------------------------------")

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
-----------------------------------------

Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
-----------------------------------------

Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
-----------------------------------------

Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
-----------------------------------------